*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    animation: load 0.3s ease-in;
}
.menu{
    min-height: 50px;
    width: 100vw;
    background-color: #001550;
}
.menu img{
    padding: 1%;
    width: 3%;
    min-width: 30px;
    margin-right: 3%;
    margin-top: 5px;
}
.center{
    margin: auto;
    max-width: 1200px;
    width: 80vw;
}
.img-home{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-home img{
    transition: 0.5s;
    width: 32vw;
}

.img-home-text h1{
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
}
.img-home-text button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1vw 3vw;
    font-weight: bold;
    font-size: 20pt;
    color: #001550;
    transition: 0.3s;
}
.button{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
}
.charts{
    text-align: center;
    margin-top: 8%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;

}
.charts img{
    margin-top: 10%;
    width: 150px;
    margin-bottom: 10%;
}


.charts button{
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #001550;
}
.charts label{
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #001550;
}
.charts input{
    display: none;
}

.import{
    align-self: center;
}
.generate{
    align-self: center;
}

.equipe{
    margin-top: 12%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.equipe-item{
    margin-top: 2%;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    background-color: #001550;
}

.seta-voltar{
    margin-top: 2%;
    display: flex;
}
.seta-voltar h1{
    margin-left: 40%;
    font-weight: bold;
    color: #001550;
}
.seta-voltar img{ 
    width: 40px;
}
.grafico{
    width: 48%;
    margin-bottom: 40px;
}
.panel-group{
    margin-top: 40px;
}
.filtros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filtros select{
    width: 48%;
    font-size: 16px;
    color: #001550;
    padding: 1%;
    border: #001550 solid 3px;
    border-radius: 10px;
    
}


.home-icon .img-hover{
    display: none;
}
.home-icon:hover .img-padrao{
    display: none;
}
.home-icon:hover .img-hover{
    display: inline-block;
}
.chart-icon .img-hover{
    display: none;
}
.chart-icon:hover .img-padrao{
    display: none;
}
.chart-icon:hover .img-hover{
    display: inline-block;
}
.about-icon .img-hover{
    display: none;
}
.about-icon:hover .img-padrao{
    display: none;
}
.about-icon:hover .img-hover{
    display: inline-block;
}
.img-home-text button:hover{
    background-color: transparent;
    color: white;
    border: 3px white solid;
}
.charts button:hover{
    background-color: transparent;
    color: #001550;
    border: 3px #001550 solid;
}
.charts label:hover{
    background-color: transparent;
    color: #001550;
    border: 3px #001550 solid;
}

.ultimas-pesquisas h1{
    margin-top: 35px;
    text-align: center;
}
.ultimas-pesquisas table{
    margin-top: 25px;
    border-collapse: collapse;
}
.ultimas-pesquisas td, th{
    border: 2px solid #001550;
    text-align: left;
    padding: 8px;
}

@media (max-width: 900px){
    .img-home img{
        display: none;
    }
    .charts img{
        width: 150px;
        margin-top: 15%;
    }
    .charts button{
        font-size: 15px;
    }
    .charts label{
        font-size: 15px;
    }
    .grafico{
        width: 80%;
        margin-bottom: 40px;
    }
    .filtros select{
        width: 100%;
        margin-bottom: 20px;
    }
    
}
@media (max-width: 1250px){
    .equipe{
        width: 50vw;
    }
}
@keyframes load {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}