*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
body{
    animation: load 0.3s ease-in;
}
.menu{
    width: 100%;
    padding:25px 0;
    background-color: #001550;
}
.menu a{
    text-decoration: none;
    color: white;
    width: 3%;
    margin-right: 50px;
    min-width: 30px;
    transition: .1s linear;
    font-size: 18px;
}
.menu-selecionado{
    border-bottom: 4px solid white;
    border-radius: 2px;
}
.menu-hover:hover{
    border-bottom: 4px solid white;
    border-radius: 2px;
}

.center{
    margin: auto;
    max-width: 1400px;
    width: 80%;
}
.img-home{
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.img-home img{
    transition: 0.5s;
    width: 32vw;
}

.img-home-text h1{
    color: white;
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 50px;
}
.img-home-text button{
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 1vw 3vw;
    font-weight: bold;
    font-size: 20pt;
    color: #001550;
    transition: 0.3s;
}
.button{
    display: flex;
    flex-direction: row-reverse;
    margin-right: 50px;
}
.charts{
    text-align: center;
    margin-top: 8%;
    width: 55%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;

}
.charts img{
    margin-top: 30%;
    width: 150px;
    margin-bottom: 10%;
}


.charts button{
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #001550;
}
.charts label{
    transition: 0.3s;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    padding: 20px 50px;
    font-weight: bold;
    font-size: 20px;
    color: white;
    background-color: #001550;
}
.charts input{
    display: none;
}

.import{
    align-self: center;
}
.generate{
    align-self: center;
}

.equipe{
    width: 90vw;
    margin-top: 6%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-evenly;
    
}
.card-header{
    padding: 60px 40px;
}
.card-header .name{
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
}
.card-header .desc{
    font-size: 18px;
    margin: 10px 0;
}
.card-header .sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.card-header .sm a{
    text-decoration: none;
    color: white;
    width: 56px;
    font-size: 30px;
    transition: .2s linear;
}
.card-header .sm a:hover{
    font-size: 35px;
}
.contact-btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 25px;
    color: #001550;
    background: white;
    border-radius: 6px;
    margin-top: 20px;
    transition: .2s linear;
    font-size: 20px;
}
.contact-btn:hover{
    background: #001550;
    border:2px solid white;
    color: white;
}
.equipe-item{
    overflow: hidden;
    text-align: center;
    margin-top: 2%;
    border-radius: 10px;
    width: 295px;
    height: 450px;
    background-color: #001550;
    color: white;
    transition: ease-in .15s;
    box-shadow: 5px 5px 5px black;
}
.equipe-item:hover{
    margin-top: 1%;
}
.foto{
    display: inline-block;
    padding: 8px;
    background: white;
    margin: auto;
    border-radius: 50%;
}
.foto img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.seta-voltar{
    margin-top: 2%;
    display: flex;
}
.seta-voltar h1{
    margin-left: 40%;
    font-weight: bold;
    color: #001550;
}
.seta-voltar img{ 
    width: 40px;
}

.grafico{
    /* margin-left: auto; */
    /* margin-right: auto; */
    width: 70%;
    margin-bottom: 40px;
}
.grafico canvas{
    margin:auto;
}
.panel-group{
    margin-top: 40px;
}
.filtros{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.filtros select{
    width: 48%;
    font-size: 16px;
    color: #001550;
    padding: 1%;
    border: #001550 solid 3px;
    border-radius: 10px;
    
}

.img-home-text button:hover{
    background-color: transparent;
    color: white;
    border: 3px white solid;
}
.charts button:hover{
    background-color: transparent;
    color: #001550;
    border: 3px #001550 solid;
}
.charts label:hover{
    background-color: transparent;
    color: #001550;
    border: 3px #001550 solid;
}

.ultimas-pesquisas h1{
    margin-top: 35px;
    text-align: center;
}
.ultimas-pesquisas table{
    margin-top: 25px;
    border-collapse: collapse;
}
.ultimas-pesquisas td, th{
    border: 2px solid #001550;
    text-align: left;
    padding: 8px;
}

@media (max-width: 900px){
    .img-home img{
        display: none;
    }
    .charts img{
        width: 150px;
        margin-top: 15%;
    }
    .charts button{
        font-size: 15px;
    }
    .charts label{
        font-size: 15px;
    }
    .grafico{
        width: 80%;
        margin-bottom: 40px;
    }
    .filtros select{
        width: 100%;
        margin-bottom: 20px;
    }
    
}
::-webkit-scrollbar{
    width: 12px;
}
::-webkit-scrollbar-thumb{
    background: #001550c4;
    border-radius: 6px;
}
@media (max-width: 1250px){
    .equipe{
        width: 60vw;
    }
}
@keyframes load {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}